.titleBanner {
  width: 100%;
  background: #333;
  height: 200px;
  color: #fff;
  padding: 60px 40px;
}

.content {
  background: #333;
}
.titleBanner h1 {
  font-size: 40px;
}

hr {
  width: 50px;
}
